APP_NAME=UrbanFix API
ENV=production
DEBUG=false

POSTGRES_USER=urbanfix
POSTGRES_PASSWORD=urbanfix_password
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=urbanfix

DATABASE_URL=postgresql+psycopg://urbanfix:urbanfix_password@localhost:5432/urbanfix

JWT_SECRET_KEY=change-me-super-long-random-secret
JWT_ALGORITHM=HS256
JWT_ACCESS_TOKEN_EXPIRE_MINUTES=30
